<% include ./partials/header %>

<!-- <button type="button" class="btn btn-light btn-lg btn-block" href="/articles">Scrape New Articles</button> -->

<a href="/articles" class="btn btn-secondary stretched-link get-articles">Scrape New Articles</a>



<% include ./partials/footer %>