<%- include ../partials/header -%>

<div class="card mb-3 article-cards">
        <% favorites.forEach(function(article){ %>
    
            <img src="..." class="card-img-top" alt="...">
    
            <div class="card-body">
                <h5 class="card-title"><%= article.title %></h5>
                <p class="card-text"><%= article.link %></p>
            </div>
    
            <a href=""></a>
    
            <hr>
    
        <% }); %>
    </div>

<%- include ../partials/footer -%>